<hr />
<div class="col-md-9">
  <h3>Order History</h3><br>
    <!-- Your details -->

  <% @user.closed_orders.each do |order| %>

    <h4>Order Placed: <%= order.updated_at.strftime('%b %d, %Y') %></h4>

    <table class="table table-striped tcart">
      <thead>
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </thead>
   <tbody>
    <% order.line_items.each do |li| %>
     <tr>
       <td><%= li.updated_at.strftime('%b %d, %Y') %></td>
       <td><%= li.id %></td>
       <td><%= li.item.title %></td>
       <td>$<%= li.item.price_dollars %></td>
       <td><%= li.quantity %></td>
       <td>$<%= li.total %></td>
       <td><%= ['Completed','Shipped','Processing'].sample %></td>
     </tr>
     <% end %>
     <tr>
        <td colspan="5"><strong>Total</strong></td>
        <td><strong><%= order.total %></strong></td>
        <td></td>
     </tr>                                              
   </tbody>
    </table><br>

    <% end %>
</div>


