<hr />
 <div class="container">
    <div class="row">
       <div class="col-md-10">
        <h3>Orders Pending Fulfillment:</h3><br>
          <!-- Your details -->

        <% @user.fulfillments.uniq.each do |fulfill| %>
          <% buyer = User.find(fulfill.buyer_id) %>


          <h4>Order Placed: <%= fulfill.updated_at.strftime('%b %d, %Y') %></h4>

          <table class="table table-striped tcart">
            <thead>
              <tr>
                <th>Date</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Status</th>
              </tr>
            </thead>
         <tbody>
          <% fulfill.line_items.each do |li| %>
           <tr>
             <td><%= li.updated_at.strftime('%b %d, %Y') %></td>
             <td><%= image_tag li.item.product_image_url(:small_thumb).to_s %></td>
             <td><%= li.item.title %></td>
             <td><%= li.item.price_pretty %></td>
             <td><%= li.quantity %></td>
             <td><%= li.pretty_total %></td>
             <td>
              <%= form_for li, :remote => true do |f|  %>
                <%= f.select :status, ['Processing', 'Shipped', 'Completed']%>
              <% end %>
             </td>
           </tr>
           <% end %>
           <tr>
              <td colspan="5"><strong>Total</strong></td>
              <td><strong><%= fulfill.pretty_total %></strong></td>
              <td></td>
           </tr>                                              
         </tbody>
          </table><br>

          <% end %>
      </div>
    </div>
  </div>























