<h2>Name: <%= @user.name %> | <%= link_to 'Edit', edit_user_path %></h2>
<h3>User type: <%= @user.vendor? ? 'Vendor' : 'Basic User' %> | 
Email: <%= @user.email %> | Address: <%= @user.address %></h3>

<% if !@user.products.empty?  %>
  <%= render "seller" %>
<% end %>
  
<%= render "buyer" %>