<h2><%= User.find(@order.buyer_id).name %>'s Current Order:</h2>
<h3><%= link_to 'Continue Shopping', root_path %></h3>
<h4 id="order_total">Current Total: $<span><%= number_with_precision(@order.total, precision:2) %></span></h4>
<%= content_tag(:p, @order.line_items.collect{|item| item.quantity}.reduce(:+), class: 'hidden') %>
<table style="width: 500px">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th><%= 'Delete' unless @order.closed %></th>
  </tr>
<% @order.line_items.each do |li| %>
  <tr id='line_item_<%= li.id %>'>
    <td><%= li.item.title %></td>
    <!-- <td><%# number_with_precision(li.item.price_dollars, precision: 2) %></td> -->
    <td><%= li.item.price_pretty %></td>
    <td>
      <%= form_for li, :remote => true do |f|  %>
      <%= f.select :quantity, (0..li.item.quantity)%>
      <% end %>
    </td>
    <td id="line_item_total_<%= li.id %>"><%= number_with_precision(li.total, precision: 2) %></td>
    <td>
      <%= button_to "Remove", li, :remote => true, :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<% unless @order.closed %>
  <%= form_for [@user, @order] do |f| %>
    <%= hidden_field(:id, value: @order.id) %>
    <%= f.hidden_field(:user_id, value: @order.buyer_id) %>
    <%= f.hidden_field(:closed, value: true) %>
    <%= f.submit 'Checkout' %>
  <% end %>
<% end %>