<h2><%= User.find(@order.buyer_id).name %>'s Current Order:</h2>
<h3><%= link_to 'Continue Shopping', root_path %></h3>
<% order_quantity = @order.line_items.collect{|item| item.quantity}.reduce(:+) %>
<%= content_tag(:p, order_quantity, class: 'hidden') %>

<% if order_quantity %>
  <h3 id="order_total">Current Total: <%= @order.pretty_total %></h3>
  <table style="width: 500px">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Delete</th>
    </tr>
  <% @order.line_items.each do |li| %>
    <tr id='line_item_<%= li.id %>'>
      <td><%= li.item.title %></td>
      <!-- <td><%# number_with_precision(li.item.price_dollars, precision: 2) %></td> -->
      <td><%= li.item.price_pretty %></td>
      <td>
        <%= form_for li, :remote => true do |f|  %>
        <%= f.select :quantity, (0..li.item.quantity)%>
        <% end %>
      </td>
      <td id="line_item_total_<%= li.id %>"><%= li.pretty_total %></td>
      <td>
        <%= button_to "Remove", li, :remote => true, :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= form_for [@user, @order] do |f| %>
    <%= hidden_field(:id, value: @order.id) %>
    <%= f.hidden_field(:user_id, value: @order.buyer_id) %>
    <%= f.hidden_field(:closed, value: true) %>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_4ZhITOYJY3iwoEXMHm2suTBw"
      data-amount="<%= @order.total*100 %>"
      data-name="ThePupClub"
      data-description="<%= order_quantity %> item(s) (<%= @order.pretty_total %>)"
      data-image="/128x128.png">
    </script>
  <% end %>
<% else %>
    <h3 id="order_total">Cart is empty!</h3>
<% end %>