<%= form_for(product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <b>Product title</b><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Product price</b><br>
    <%= f.text_field :price %>
  </p>  
  <p>
    <b>Product Description</b><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>