<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="item">
    <div class="item-image">
      <%= link_to product do %>
        <%= image_tag product.product_image_url(:thumb).to_s, class: "img-responsive" %>
      <% end %>
    </div>
    <div class="item-details">
      <% tag_string = product.product_tags.collect do |product_tag| %>
        <% "tag#{product_tag.tag_id}" %>
      <% end.join(' ') %>
      <h5 class='<%= tag_string %>'><%= link_to product.title, product %></h5>
      <div class="clearfix"></div>
      <!-- Para. Not more than 2 lines. -->
      <p><%= product.description %></p>
      <hr>
      <div class="item-price pull-left"><%= product.price_dollars %></div>
      <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>